
ol{
  text-align: left;
}

li{
  padding-bottom: 0.8em;
}

img{
  width: 100%;
}

hr{
  width: 100%;
  max-width: 600px;
}

.chk{
  white-space:nowrap;
}

#output{
  font-family: sans-serif;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  max-width: 500px;
  height:150px;
}
